.image{
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-top: 50px;
}

h1{
    opacity: 0.8;
    font-size: 30px;
    margin: 10px;
}

ul{
    padding: 0;
}

ul > li{
    list-style: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: 0.3s linear;
}

ul > li:hover{
    box-shadow: 0 0 4px 0 black;
    border: 1px solid black;
    cursor: pointer;
}

ul > li a, ul > li a:hover{
    color: initial;
}